:root {
    --black: #000000;
    --charcoal: #2f4550;
    --gray: #586f7c;
    --Lblue: #b8dbd9;
    --light: #f4f4f9;

}

.header {
    width: 100%;
    background-color: var(--gray);
    padding: 20px;
}

.title {
    font-size: 60px;
    color: var(--Lblue);
    margin-left: 50%;
    font-family: 'cinzel', sans-serif;
}



.custom-text {
    color: var(--charcoal);
    font-family: 'cinzel', sans-serif;
}

.searchtitle{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 1%;
    font-size: 16px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-btn {
    border: 2px solid var(--charcoal);
    background-color: var(--Lblue);
    color: var(--charcoal);
    font-family: 'cinzel', sans-serif;
    margin-top: 10px;
    margin-left: 1%;
}

#sortable { list-style-type: none; margin-top: 50px; padding: 0; width: 60%; }

#sortable li { margin: 1px 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; background-color: var(--gray); color: var(--Lblue); border: 2px solid var(--charcoal); }

html>body #sortable li { height: 1.5em; line-height: 1.2em; }

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#current-conditions {
    border: 3px solid var(--gray);
}





/* Pseudo element*/

.custom-btn:hover {
    border: 2px dashed var(--charcoal);
    background-color: var(--charcoal);
    color: var(--Lblue);
    cursor: pointer;
}

#sortable li:hover {
    cursor: pointer;
    background-color: var(--Lblue);
    color: var(--charcoal);

}




